@import './assets/colors.scss';

.detail {
	margin-bottom: 80px;
	position: relative;
	z-index: 3;
	overflow: hidden;
	&__body {
		display: flex;
		flex-direction: row;
		p {
			text-align: justify;
			padding-right: 20px;
		}

		@media (max-width: 767.9px) {
			height: 100%;
			p {
				padding-right: 0;
			}
		}
	}
	&__description {
		flex: 1 0 60%;
		display: flex;
		flex-direction: column;
		gap: 15px;
		font-size: 20px;
		line-height: 165%;

		@media (max-width: 1024px) {
			font-size: 18px;
		}
		@media (max-width: 767.9px) {
			flex: 1 1 auto;
			font-size: 16px;
		}

		ul {
			display: flex;
			flex-direction: column;
			row-gap: 10px;
		}
		li {
			a {
				position: relative;
				color: $gold;
				text-transform: uppercase;

				@media (min-width: 768px) {
					letter-spacing: 1px;
					&::after {
						content: '';
						position: absolute;
						bottom: -2px;
						left: 0;
						width: 25px;
						height: 2px;
						background-color: $gold;
						transition: all 0.4s ease;
					}
					&:hover {
						transition: all 0.4s ease;
						&::after {
							width: 100%;
						}
					}
				}
			}
			text-align: justify;
			position: relative;
			padding-left: 30px;
			&::after {
				content: '';
				position: absolute;
				top: 25%;
				left: 5px;
				width: 10px;
				height: 10px;
				background-color: $gold;
				transform: rotate(45deg);
			}

			@media (max-width: 768px) {
				&::after {
					top: 15%;
				}
			}
			@media (max-width: 425px) {
				&::after {
					top: 10px;
				}
			}
		}
	}
	&__image {
		flex: 0 1 40%;
		position: relative;
		min-height: 450px;
		img {
			object-fit: cover;
		}
		@media (max-width: 767.9px) {
			display: none;
		}
	}

	&__bodyReversed {
		display: flex;
		flex-direction: row-reverse;
		gap: 10px;
		p {
			text-align: justify;
			padding-left: 20px;
		}

		@media (max-width: 767.9px) {
			height: 100%;
			p {
				padding-left: 0;
			}
		}
	}
}
