@import './assets/colors.scss';

.heading {
	padding: 30px;
	font-size: 38px;
	line-height: 150%;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	letter-spacing: 1px;
	background-color: $lighterBg;
	color: $text-main;


	@media (max-width: 1024px) {
		font-size: 32px;
	}
	@media (max-width: 768.9px) {
		font-size: 28px;
	}
	@media (max-width: 425px) {
		font-size: 22px;
	}
}

.gallery {
	img {
		max-width: 100%;
		height: auto;
		transform-origin: top left;
	}

	&__wrapper {
		display: flex;
		flex-flow: column wrap;
		align-content: space-between;
		overflow: hidden;
		width: 100%;
		height: 150vh;

		&::before,
		&::after {
			content: '';
			flex-basis: 100%;
			width: 0;
			order: 2;
		}
	}
	&__image {
		width: 33.3%;
		margin: 0;
		display: block;
		position: relative;
		transition: opacity 0.5s linear;
		cursor: pointer;

		&:nth-child(3n + 1) {
			order: 1;
		}
		&:nth-child(3n + 2) {
			order: 2;
		}
		&:nth-child(3n) {
			order: 3;
		}

		img {
			display: block;
			width: 100%;
		}

		figcaption {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			color: $gold;
			font-weight: 500;
			font-size: 18px;
			text-shadow: 0 0 2px #000;
			opacity: 0.8;
			padding: 1em;
			text-align: left;
			transition: opacity 0.4s linear;
			&:hover {
				opacity: 1;
			}
		}
	}
	&__detail {
		z-index: 2;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100vw;
		height: 100vh;
		background: rgba(25, 25, 25, 0);
		box-shadow: 0 0 30px #000;
		display: flex;
		pointer-events: none;
		transition: background 0.3s linear;
	}
}

.detail {
	padding: 120px 15px 100px;
	&__image {
		position: relative;
		width: 100%;
		height: 100%;

		img {
			object-fit: contain;
		}

		figcaption {
			display: none;
		}
	}
}

[data-state='detail'] {
	.gallery {
		&__detail {
			background: rgba(25, 25, 25, 0.85);
			pointer-events: auto;

			&__image {
				opacity: 1;
			}
		}
	}
}

[data-state='gallery'] {
	.gallery {
		&__detail {
			&__image {
				opacity: 0;
				transition: none;
			}
		}
	}

	&:hover {
		.gallery {
			&__image {
				opacity: 0.3;
			}
			&__image:hover {
				opacity: 1;
				transition-duration: 0.3s;
			}
		}
	}
}

@media (max-width: 768px) {
	.gallery {
		&__wrapper {
			flex-flow: column wrap;
		}
		&__image {
			width: 50%;
			&:nth-child(2n + 1) {
				order: 1;
			}
			&:nth-child(2n) {
				order: 2;
			}
		}
	}
}

@media (max-width: 430px) {
	.gallery {
		&__wrapper {
			flex-flow: column;
			height: auto; // Змініть висоту на auto
		}
		&__image {
			width: 100%;
			&:nth-child(n) {
				order: 1;
			}
		}
	}
}
