@import './assets/colors.scss';

.heading {
	position: relative;
	font-size: 40px;
	font-weight: 700;
	line-height: 123.047%; /* 49.219px */
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 20px 0 25px 0;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 80px;
		height: 4px;
		background-color: $gold;
	}

	@media (max-width: 1024px) {
		font-size: 32px;
		padding: 15px 0 20px 0;
	}
	@media (max-width: 768.9px) {
		font-size: 28px;
		&::before {
			width: 60px;
		}
	}
	@media (max-width: 425px) {
		font-size: 18px;
	}
}
