@import './assets/colors.scss';

.page {
	position: relative;
	padding: 120px 0 100px 0;

	@media (max-width: 1024px) {
		padding: 100px 0 80px 0;
	}
	@media (max-width: 768px) {
		padding: 80px 0 80px 0;
	}
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 35%;
		background-color: $lighterBg;
	}
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 35%;
		background-color: $lighterBg;
	}
}

.slide {
	display: flex;
	flex-direction: row;
	gap: 15px;
	width: 100%;
	height: 500px;

	&__details {
		z-index: 2;
		flex: 0 1 40%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 10px;
	}
	&__description {
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 158.203%; /* 28.477px */
		flex: 1 1 auto;
		@media (max-width: 1024px) {
			font-size: 16px;
		}
		@media (max-width: 767.9px) {
			font-size: 14px;
		}
	}
	&__image {
		flex: 1 1 50%;
		z-index: 2;
		width: 100%;
		position: relative;
		img {
			position: absolute;
			object-fit: contain;
		}
	}
}
