@import './assets/colors.scss';

.section {
	position: relative;
	overflow: hidden;
	padding: 120px 0 100px 0;

	@media (max-width: 1024px) {
		padding: 100px 0 80px 0;
	}
	@media (max-width: 768px) {
		padding: 80px 0 80px 0;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 35%;
		background-color: $lighterBg;
	}
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 35%;
		background-color: $lighterBg;
	}
}

.slide {
	display: flex;
	flex-direction: row;
	gap: 15px;
	width: 100%;
	height: 600px;
	margin: 30px 0;
	@media (max-width: 560px) {
		height: 700px;
		row-gap: 25px;
		flex-direction: column;
	}

	&__details {
		z-index: 2;
		flex: 0 1 40%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 10px;
		@media (max-width: 560px) {
			flex: 1 1 auto;
			h3 {
				max-width: 250px;
			}
		}
	}
	&__description {
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 178.203%; /* 28.477px */
		flex: 1 1 auto;
		@media (max-width: 1023.9px) {
			font-size: 16px;
		}
		@media (max-width: 767.9px) {
			margin-bottom: 15px;
		}
	}
	&__image {
		flex: 1 1 60%;
		z-index: 2;
		height: 100%;
		width: 100%;
		position: relative;
		img {
			height: 100%;
			position: absolute;
			object-fit: contain;
		}
	}
	&__price {
		position: absolute;
		left: 5%;
		bottom: 20%;
		color: $dark;
		font-size: 32px;
		font-weight: 600;
		display: inline;
		@media (max-width: 425px) {
			right: -100%;
			bottom: 0;
			scale: 0.6;
		}
	}
	&__priceTag {
		width: 250px;
		height: 60px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $gold;

		span {
			position: absolute;
			width: 10px;
			height: 10px;
			background-color: $dark;
			box-shadow: 1px 2px 2px;
			border-radius: 50%;
			right: -15px;
			top: 50%;
			transform: translateY(-50%);
		}

		&:after {
			content: '';
			position: absolute;
			z-index: 1;
			left: 0;
			bottom: 0;
			width: 0;
			height: 0;
			border-left: 20px solid $dark;
			border-top: 30px solid transparent;
			border-bottom: 30px solid transparent;
		}
		&:before {
			content: '';
			position: absolute;
			right: -40px;
			bottom: 0;
			width: 0;
			height: 0;
			border-left: 40px solid $gold;
			border-top: 30px solid transparent;
			border-bottom: 30px solid transparent;
		}
	}
}
