@import './assets/colors.scss';

.sidebar {
	display: none;
	position: fixed;
	top: 0;
	left: -2000px;
	z-index: 80;
	width: 500px;
	height: 100%;
	background-color: $dark;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all ease 0.35s;

	&__menu {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&.opened {
		@media (max-width: 768px) {
			left: 0;
			transition: all ease 0.35s;
		}
	}

	&__menuItem {
		a {
			color: $text-main;
		}
	}
	&__dropDown {
		a {
			color: $gold;
		}
	}

	@media (max-width: 768px) {
		display: flex;
	}
}
