@import './assets/colors.scss';

.sliderActions {
	z-index: 2;
	display: flex;
	align-self: center;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	position: absolute;
	padding: 0px 20px;
	right: 0;
	top: 0;
	button {
		height: 50px;
	}

	&__nextButton {
		padding: 15px;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 5px;
		background: transparent;
		color: $gold;
		p {
			display: none;
			font-size: 16px;
			font-weight: 500;
			text-transform: uppercase;
			@media (max-width: 769.8px) {
				display: none;
			}
		}
		span {
			width: 50px;
			height: 2px;
			position: relative;
			background-color: $gold;
			display: flex;
			flex-direction: row;
			&::before {
				content: '';
				position: absolute;
				top: -5px;
				right: 0;
				height: 2px;
				width: 12px;
				background-color: $gold;
				transform: rotate(45deg);
			}
			&::after {
				content: '';
				position: absolute;
				bottom: -5px;
				right: 0;
				height: 2px;
				width: 12px;
				background-color: $gold;
				transform: rotate(-45deg);
			}
		}
	}
	&__prevButton {
		padding: 15px;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 5px;
		background: transparent;
		color: $gold;
		p {
			display: none;
			font-size: 16px;
			font-weight: 500;
			text-transform: uppercase;
			@media (max-width: 769.8px) {
				display: none;
			}
		}
		span {
			width: 50px;
			height: 2px;
			position: relative;
			background-color: $gold;
			display: flex;
			flex-direction: row;
			&::before {
				content: '';
				position: absolute;
				top: -5px;
				left: 0;
				height: 2px;
				width: 12px;
				background-color: $gold;
				transform: rotate(-45deg);
			}
			&::after {
				content: '';
				position: absolute;
				bottom: -5px;
				left: 0;
				height: 2px;
				width: 12px;
				background-color: $gold;
				transform: rotate(45deg);
			}
		}
	}
	
	&__nextButton,
	&__prevButton {
		transition: all 0.2s ease;
		&:hover {
			scale: 1.1;
		}
	}
}
